* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color:
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: rgba(15, 192, 103, 0.842);
    padding: 10px;
}
a {
    color: black;
    text-decoration: none;
    display: inline;
    text-decoration: none;
    font-size: 20px;
}
h1 {
    margin-left: -50px;
    color: yellow;
}
a:hover {
    color: yellow;
}
span {
    font-weight: bold;
}
img {
    height: 300px;
    display: flex;
   

}
.hero {
    font-size: 90px;
    width: 30%;
    margin: 40px;
    font-weight: bold;

}